.bg-green {
  background-color: #00927b;
}

.bg-hard {
  background-color: #2d2d34;
}

.move {
  transform: translateY(-15%);
}

@media (max-width: 767px) {
  .move {
    transform: translateY(-5%);
  }
}
.footer-section,
.footer-section a {
  font-size: small;
  text-align: end !important;
}
div.text-white.copy.text-center.fs-3 > span {
  font-size: small !important;
}

.footer-section a {
  font-size: 13px;
}
.footer-section p {
  color: white;
}

.footer-img {
  width: 190px !important;
  height: 136px;
}
